MAGICSSO_MANAGER_CONFIG_FILE=/app/runtime/manager.toml
MAGIC_GATE_CONFIG_FILE=/app/gate/magic-gate.toml
MAGIC_GATE_IMAGE=ghcr.io/magic-link-sso/magic-sso/gate:latest
MANAGER_IMAGE=ghcr.io/magic-link-sso/magic-sso/manager:latest
MANAGER_PUBLIC_PORT=4000
