# examples/fastify/.env.example
MAGICSSO_COOKIE_MAX_AGE=3600
MAGICSSO_COOKIE_NAME=magic-sso
MAGICSSO_COOKIE_PATH=/
MAGICSSO_DIRECT_USE=false
MAGICSSO_JWT_SECRET=VERY-VERY-LONG-RANDOM-JWT-SECRET
MAGICSSO_PREVIEW_SECRET=VERY-VERY-LONG-RANDOM-PREVIEW-SECRET
MAGICSSO_SERVER_URL=http://localhost:3000
PORT=3005
