# examples/django/.env.example
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_DEBUG=true
MAGICSSO_AUTH_EVERYWHERE=false
MAGICSSO_COOKIE_MAX_AGE=3600
MAGICSSO_COOKIE_NAME=magic-sso
MAGICSSO_COOKIE_PATH=/
MAGICSSO_COOKIE_SAMESITE=Lax
MAGICSSO_COOKIE_SECURE=false
MAGICSSO_DIRECT_USE=true
MAGICSSO_JWT_SECRET=VERY-VERY-LONG-RANDOM-JWT-SECRET
MAGICSSO_PREVIEW_SECRET=VERY-VERY-LONG-RANDOM-PREVIEW-SECRET
MAGICSSO_PUBLIC_URLS=login
MAGICSSO_REQUEST_TIMEOUT=5
MAGICSSO_SERVER_URL=http://localhost:3000
